@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@font-face {
  font-family: "Infinite Realities";
  src: url(/frontend/assets/fonts/Infinite\ Realities.ttf) format("truetype");
}
@font-face {
  font-family: "Gilroy Thin";
  src: url(/frontend/assets/fonts/Gilroy-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "Gilroy light";
  src: url(/frontend/assets/fonts/Gilroy-Light.ttf) format("truetype");
}
:root {
  --white: #ffffff;
  --off-white: #f5f5f5;
  --black: #000;
  --footer-color: #f5f5f5;
  --blue-2: #223448;
  --ash: #7c7c7c;
  color: rgb(0, 0, 0, 1);
}
* {
  text-decoration: none;
  letter-spacing: -0.2px;
}
body {
  font-family: "Inter", sans-serif;
}
/* MAIN */
.your-home h2 {
  letter-spacing: -2px;
  width: 100%;
  font-weight: 550;
}
.your-home p {
  max-width: 366px;
  width: 100%;
  line-height: 150%;
  text-align: right;
  font-size: 18px;
}
.get-a-space-container {
  width: 90%;
  background: url("/frontend/assets/images/3d-rendering-house-model-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
  border-radius: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.two-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}
.fia-links {
  background: var(--white);
  max-width: 580px;
  width: 100%;
  height: 64px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border-radius: 10px 10px 0px 0px;
}
.fia-links a {
  color: var(--ash);
}
.find-apartment {
  background: var(--blue-2);
  color: var(--white) !important;
  border-radius: 20px;
  padding: 10px;
  max-width: 183px;
  height: 44px;
}
.apartment-locations {
  background: var(--white);
  width: 100%;
  max-width: 1000px;
  height: 100px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.select-div {
  width: 292px;
}
.select-div select {
  padding: 13px;
  border-radius: 10px;
}
.search-div {
  width: 93px;
  height: 44px;
  background: var(--blue-2);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-top: 1.3rem;
}
.what-we-do-heading {
  font-size: 3rem;
  text-align: center;
  width: 100%;
}
.wwd-card {
  color: #e9e0cf;
  background: var(--off-white);
  border-radius: 20px;
  width: 390px;
  max-width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}
.wwd-text {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.wwd-text span {
  color: var(--ash);
}
.wwd-text a {
  background: var(--blue-2);
  color: var(--white);
  font-size: 1.1rem;
  max-width: 150px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-top: 1rem;
}
.wwd-image {
  max-width: 100%;
}
.wwd-image img {
  max-width: 290px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.figure {
  overflow: hidden;
}
.get-a-space-container,
.figure {
  padding: 3.5rem;
  position: relative;
  max-width: 100%;
}
.figure img {
  width: 100%;
  /* aspect-ratio: 16/4; */
  object-fit: cover;
  border-radius: 20px;
}
.figure-text {
  font-size: 128px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  bottom: 4rem;
  width: 100%;
}
.figure-text span {
  width: 305px;
  max-width: 100%;
  height: 13px;
  border-radius: 20px;
  background: var(--white);
}
.roompal-background {
  background: url("/frontend/assets/images/3d-rendering-loft-luxury-living-room-with-shelf-near-dining-table-1.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  background-attachment: scroll;
  height: 100vh;
  border-radius: 20px;
  position: relative;
}
.roompal-background div {
  position: absolute;
  top: 70%;
}
.roompal-h2 {
  font-size: 100px;
  color: var(--white);
}
.why-us-container {
  max-width: 1294px;
  width: 100%;
  border-radius: 20px;
  margin: 2rem auto;
}
.featured__0 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.post p {
  background: #e9e0cf;
  max-width: 100%;
  width: 188px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post p,
.post a {
  border-radius: 20px;
}
.post h2 {
  font-size: 48px;
  font-weight: 500;
}
.post a {
  background: var(--blue-2);
  color: var(--white);
  max-width: 148px;
  height: 44px;
  padding: 4px 15px;
}
.discover {
  max-width: 503px;
  height: 48px;
  color: var(--ash);
  text-align: right;
  padding-top: 1rem;
}
/* carousel */
.testimonials-section {
  padding: 4rem;
}
.testimonial-heading h2 {
  padding: 10px 0px 5px 0px;
}
.testimonial-heading p:first-child {
  color: var(--ash);
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
}
/* media queries */
@media (max-width: 480px) {
  .footer-bottom,
  .contact-us {
    flex-direction: column;
  }
  .socials {
    margin-top: 30px;
    justify-content: center;
    order: 3;
  }
  .infinite p {
    max-width: 335px;
    width: 100%;
  }
  .infinite img {
    width: 83.18px;
  }
}
@media (max-width: 768px) {
  .your-home {
    display: none;
  }
}
@media (max-width: 639px) {
  .wwd-card-parent {
    flex-direction: row-reverse;
    gap: 10px;
    background: none;
  }
  .wwd-card-parent-2 {
    flex-direction: row;
    gap: 10px;
    background: none;
  }
  .wwd-card-image img {
    height: 166px;
    width: 144px;
  }
  .faq-question,
  .faq-answer {
    font-size: 1rem;
  }
}
@media (min-width: 769px) {
  .your-home h2 {
    font-size: 50px;
    max-width: 400px;
  }
}
@media (min-width: 1030px) {
  .your-home h2 {
    font-size: 64px;
    max-width: 516px;
  }
}
