@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: "Infinite Realities";
  src: url(/frontend/assets/fonts/Infinite\ Realities.ttf) format("truetype");
}
@font-face {
  font-family: "Gilroy Thin";
  src: url(/frontend/assets/fonts/Gilroy-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "Gilroy light";
  src: url(/frontend/assets/fonts/Gilroy-Light.ttf) format("truetype");
}
:root {
  --white: #ffffff;
  --black-color: #000;
  --Secondary-white-Color: rgba(245, 245, 245, 1);
  --secondary-color-2: rgba(148, 180, 193, 1);
  --primary-color: rgba(0, 0, 0, 0.2);
  --primary-color-1: rgba(34, 52, 72, 1);
  --bg-color: #f8f8f8;
  --gray: rgba(124, 124, 124, 1);
  --primary-color-2: #e9e0cf;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Inter", sans-serif;
  background: var(--bg-color);
  letter-spacing: -0.3px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "navbar navbar"
    "aside main"
    "footer footer";
}
nav {
  background: var(--white);
  padding: 1rem 3em;
  grid-area: navbar;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.nav-side__1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
}
.nav .home {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
}
.link a {
  margin-right: 1.5em;
  color: var(--gray);
  font-weight: 500;
}
.side-two {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.notification {
  background: var(--secondary-color-2);
  width: 44px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.notification img {
  width: 24px;
  height: 26px;
  object-fit: cover;
}
.need-help {
  max-width: 122px;
  width: 100%;
  height: 44px;
  border-radius: 50px;
  background: var(--primary-color);
  padding: 16px 32px;
  color: var(--white);
}
aside {
  grid-area: aside;
  background: var(--white);
  padding: 1rem;
}
.location-div {
  background: var(--Secondary-white-Color);
  height: 130px;
  max-height: 100%;
}
.location-div p {
  padding: 0.5em;
  font-weight: 400;
  font-size: 12px;
  color: var(--gray);
}
.filter-dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.8rem;
}
.filter-dropdown img {
  width: 12px;
  height: 6px;
}
.filter-dropdown,
.clear_filter button {
  cursor: pointer;
}
.clear_filter {
  display: flex;
  float: right;
  gap: 1rem;
  color: var(--white);
}
.clear_filter button {
  height: 44px;
  border-radius: 40px;
  margin-top: 1rem;
}
.cancel {
  background: var(--primary-color);
  min-width: 66px;
  padding: 15px;
  display: flex;
  align-items: center;
}
.filter-btn {
  background: var(--primary-color-1);
  min-width: 110px;
}
/*  */
main {
  grid-area: main;
  padding: 15px;
  height: 100vh;
}
.hero-section {
  background: var(--primary-color-2)
    url("/frontend/assets/images/3d-model-house.png") no-repeat;
  background-position: right;
  background-size: 300px 300px;
  width: 100%;
  height: 300px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.location-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--Secondary-white-Color);
  width: 262px;
  height: 44px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.chevron {
  width: 12px;
  height: 6px;
}
.location-div {
  background: var(--Secondary-white-Color);
  padding: 2rem;
}
.location-dropdown {
  border-radius: 10px;
}
.location-dropdown div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px 10px 5px;
}
.filter-search-box input {
  border: 1.5px solid var(--gray);
  border-radius: 15px;
  outline: none;
  caret-color: var(--black-color);
  width: 100%;
  padding-left: 10px;
  padding-block: 5px;
  color: hsla(0, 0%, 0%, 0.623);
}
.filter-section {
  margin-top: 2rem;
}
.ranges-div {
  padding: 2rem;
  border-radius: 20px;
  margin-top: auto;
  margin-bottom: 2rem;
}
.find-container p {
  padding-bottom: 12px;
  color: var(--gray);
}
#find-apartment {
  width: 350px;
  height: 44px;
  border-radius: 10px;
  max-width: 100%;
  background: var(--Secondary-white-Color);
  padding: 10px;
  border: none;
  outline: none;
}
.search-btn {
  background: var(--primary-color-1);
  min-width: 100px;
  height: 44px;
  color: var(--white);
  border-radius: 25px;
  cursor: pointer;
  margin-top: 2.3rem;
}
