:root {
  --white: #ffffff;
  --Secondary-white-Color: rgba(245, 245, 245, 1);
  --secondary-color-2: rgba(148, 180, 193, 1);
  --primary-color: rgba(0, 0, 0, 0.2);
  --bg-color: #f8f8f8;
  --gray: rgba(124, 124, 124, 1);
  --color: #e9e0cf;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background: var(--bg-color);
  letter-spacing: -0.3px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "navbar navbar"
    "aside main"
    "footer footer";
}
nav {
  background: var(--white);
  padding: 1rem 3em;
  grid-area: navbar;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.nav-side__1 {
  display: flex;
  align-items: center;
  gap: 7rem;
}
.nav .home {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
}
.link a {
  margin-right: 1.5em;
  color: var(--gray);
  font-weight: 500;
}
.side-two {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.notification {
  background: var(--secondary-color-2);
  width: 44px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.notification img {
  width: 24px;
  height: 26px;
  object-fit: cover;
}
.need-help {
  max-width: 122px;
  width: 100%;
  height: 44px;
  border-radius: 50px;
  background: var(--primary-color);
  padding: 16px 32px;
  color: var(--white);
}
aside {
  grid-area: aside;
  background: var(--white);
  padding: 1rem;
}
.location-div {
  background: var(--Secondary-white-Color);
  height: 130px;
  max-height: 100%;
}
.location-div p {
  padding: 0.5em;
  font-weight: 400;
  font-size: 12px;
  color: var(--gray);
}
main {
  grid-area: main;
  margin-left: 20px;
}
/* footer {
  background-color: var(--white);
  padding: 1.5em;
  grid-area: footer;
} */
