* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --bg-color: #f8f8f8;
}
body {
  background: var(--bg-color);

  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "navbar navbar"
    "aside main"
    "footer footer";
}
nav {
  background: var(--white);
  padding: 1.5em;
  grid-area: navbar;
  display: flex;
  justify-content: space-between;
}
aside {
  grid-area: aside;
}
main {
  grid-area: main;
}
footer {
  background-color: var(--white);
  padding: 1.5em;
  grid-area: footer;
}
