@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: "Infinite Realities";
  src: url(/frontend/assets/fonts/Infinite\ Realities.ttf) format("truetype");
}
@font-face {
  font-family: "Gilroy Thin";
  src: url(/frontend/assets/fonts/Gilroy-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "Gilroy light";
  src: url(/frontend/assets/fonts/Gilroy-Light.ttf) format("truetype");
}
:root {
  --white: #ffffff;
  --light-white: rgba(204, 204, 204, 1);
  --black-color: #000;
  --Secondary-white-Color: rgba(245, 245, 245, 1);
  --secondary-color-2: rgba(148, 180, 193, 1);
  --primary-color: rgba(0, 0, 0, 0.2);
  --primary-color-1: rgba(34, 52, 72, 1);
  --bg-color: #f8f8f8;
  --gray: rgba(124, 124, 124, 1);
  --dark-gray: rgba(94, 94, 94, 1);
  --primary-color-2: #e9e0cf;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Inter", sans-serif;
  background: var(--bg-color);
  letter-spacing: -0.3px;
  min-height: 100vh;
}
.notification {
  background: #cccccc;
}
/* main */
.message-update-container {
  display: flex;
  flex-direction: column;
  max-width: 95%;
  margin-inline: auto;
  gap: 2rem;
  padding: 4rem 3rem;
  background: var(--white);
}
.below {
  color: var(--dark-gray);
}
.message-update-side__1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.message-update-side__1 p {
  font-size: 32px;
  font-weight: 500;
}
.read__unread {
  background: var(--Secondary-white-Color);
  border-radius: 20px;
  height: 64px;
  min-width: 201px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.read__unread a {
  height: 44px;
  min-width: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.read__unread a:nth-child(1) {
  background: var(--primary-color-1);
  border-radius: 50px;
}
.read__unread a:nth-child(2) {
  color: var(--gray);
}
.message-container {
  max-width: 95%;
  margin-inline: auto;
  min-height: 100vh;
  margin-top: 2rem;
  background: var(--white);
}
.read__unread a:nth-child(1),
.need-help {
  color: var(--white);
}
