@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */
@font-face {
  font-family: "Infinite Realities";
  src: url(../fonts/Infinite\ Realities.ttf) format("truetype");
}
@font-face {
  font-family: "Gilroy Thin";
  src: url(../fonts/Gilroy-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "Gilroy light";
  src: url(../fonts/Gilroy-Light.ttf) format("truetype");
}
:root {
  --white: #ffffff;
  --off-white: #f5f5f5;
  --black: #000;
  --footer-color: #f5f5f5;
  --blue-2: #223448;
  --ash: #7c7c7c;
  color: rgb(0, 0, 0, 1);
}
* {
  text-decoration: none;
  letter-spacing: -0.2px;
}
body {
  font-family: "inter", sans-serif;
}
/*  HEADER   */
/* .links {
  display: flex;
  gap: 10px;
}
.links a {
  font-size: 16px;
}
.find-a-home a {
  background: var(--black);
  color: var(--white);
  font-size: 16px;
  border-radius: 20px;
  padding: 10px 15px;
} */
/* MAIN */
.your-home h2 {
  text-transform: capitalize;
  font-size: 64px;
  letter-spacing: -2px;
  max-width: 516px;
  width: 516px;
  font-weight: 550;
}
.your-home p {
  max-width: 366px;
  width: 100%;
  line-height: 150%;
  text-align: right;
  font-size: 18px;
}
.get-a-space-container {
  max-width: 100%;
}
.get-a-space-container img {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 20px;
}
.two-con {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}
.fia-links {
  background: var(--white);
  max-width: 580px;
  width: 100%;
  height: 64px;
  padding: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border-radius: 10px 10px 0px 0px;
}
.fia-links a {
  color: var(--ash);
}
.find-apartment {
  background: var(--blue-2);
  color: var(--white) !important;
  border-radius: 20px;
  padding: 10px;
  max-width: 183px;
  height: 44px;
}
.apartment-locations {
  background: var(--white);
  width: 928px;
  height: 100px;
  border-radius: 20px;
}
.what-we-do-heading {
  font-size: 3rem;
  text-align: center;
  width: 100%;
}
.wwd-card {
  color: #e9e0cf;
  background: var(--off-white);
  border-radius: 20px;
  width: 390px;
  max-width: 100%;
  height: 600px;
  /* max-height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}
.wwd-text {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.wwd-text span {
  color: var(--ash);
}
.wwd-text a {
  background: var(--blue-2);
  color: var(--white);
  font-size: 1.1rem;
  max-width: 150px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-top: 1rem;
}
.wwd-image {
  max-width: 100%;
}
.wwd-image img {
  max-width: 290px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.figure {
  overflow: hidden;
}
.get-a-space-container,
.figure {
  padding: 3.5rem;
  position: relative;
  max-width: 100%;
}
.figure img {
  width: 100%;
  /* aspect-ratio: 16/4; */
  object-fit: cover;
  border-radius: 20px;
}
.figure-text {
  font-size: 128px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  bottom: 4rem;
  width: 100%;
}
.figure-text span {
  width: 305px;
  max-width: 100%;
  height: 13px;
  border-radius: 20px;
  background: var(--white);
}
.why-us-container {
  max-width: 1294px;
  width: 100%;
  border-radius: 20px;
  margin: 2rem auto;
}
/* .why-us-container h2 {
  font-size: 3rem;
  font-weight: 500;
  color: var(--black);
  max-width: 100%;
  text-align: center;
  padding-block: 1.2rem;
}
.why-us-frame {
  border: 2px solid #e5e5e5;
  height: 556px;
  max-height: 100%;
}
.why-us-box {
  width: 100%;
  height: 556px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem;
}
.why-us-card {
  width: 177.5px;
  max-width: 100%;
  height: 72px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.why-us-img {
  background: var(--off-white);
  border-radius: 20px;
  width: 56px;
  height: 56px;
  padding: 16px;
}
.why-us-img img {
  width: 15px;
  height: 18px;
}
.why-us-card p:nth-of-type(1) {
  font-weight: 600;
  font-size: 1.5rem;
}
.why-us-card p:nth-of-type(2) {
  font-size: 25px;
  padding-top: 0.5rem;
}
.why-us-card p:nth-of-type(3) {
  color: var(--ash);
  text-align: center;
  line-height: 150%;
} */
/* .divider {
  width: 120px;
  height: 0;
  border: 1px solid #e5e5e5;
  transform: rotate(-90deg);
} */
.featured__0 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.post p {
  background: #e9e0cf;
  max-width: 100%;
  width: 188px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post p,
.post a {
  border-radius: 20px;
}
.post h2 {
  font-size: 48px;
  font-weight: 500;
}
.post a {
  background: var(--blue-2);
  color: var(--white);
  max-width: 148px;
  height: 44px;
  padding: 4px 15px;
}
.discover {
  max-width: 503px;
  height: 48px;
  color: var(--ash);
  text-align: right;
  padding-top: 1rem;
}
/* footer */
footer {
  background: var(--footer-color);
  height: 910px;
}
.infinite {
  max-width: 100%;
  width: 928px;
  position: relative;
  padding: 11rem 4rem;
}
.infinite strong {
  max-width: 100%;
  display: flex;
  font-size: 200px;
  font-family: "Infinite Realities", sans-serif;
  letter-spacing: 5px;
}
.infinite p {
  font-family: "Gilroy light", sans-serif;
  width: 100%;
  font-size: 1.1rem;
  font-weight: 400;
}
.infinite img {
  max-width: 196.02px;
  max-width: 100%;
  height: 474.33px;
  position: absolute;
  left: 52%;
  top: 3%;
  z-index: 9999;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 6rem 4rem;
}
.socials img {
  width: 20.25px;
  height: 20.25px;
}
.find {
  padding-top: 1.2rem;
}
.contact-us {
  display: flex;
  gap: 1.5rem;
}
.info span,
.find p:nth-of-type(1) {
  font-family: "Gilroy light", sans-serif;
  font-size: 14px;
  padding-bottom: 0.7rem;
}
.info {
  display: flex;
  flex-direction: column;
}
.info a {
  color: var(--black);
}
.email,
.state {
  font-family: "Gilroy light", sans-serif;
}
